/* fix alternating colors appearing even though genre colors are the actual background */
.table-row-cell, .table-row-cell:odd, .tree-table-cell, .tree-cell {
	-fx-background: derive(-fx-base, 20%);
}

.table-view, .tree-view, .tree-table-view {
	-fx-font-size: 11;

	myText: -fx-text-background-color;
}

.table-cell, .tree-cell, .tree-table-cell {
	-fx-text-fill: myText;
}

/* Selected rows */
/*noinspection CssInvalidFunction*/
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
	myText: ladder(#888, -fx-text-background-color, hsb(210, 90%, 100%));
}

/* Selected when control is not focused */
/*noinspection CssInvalidFunction*/
.tree-cell:filled:selected,
.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected,
.tree-table-row-cell:filled > .tree-table-cell:selected {
	myText: ladder(#444, -fx-text-background-color, hsb(210, 90%, 100%));
}

/* highlight non-downloadable releases red */
/*noinspection CssInvalidFunction*/
.tree-cell.not-downloadable {
	myText: ladder(#444, -fx-text-background-color, hsb(0, 90%, 100%));
}

.button, .button:focused {
}

.combo-box-base {
	-fx-background-color: null !important;
}

#seek-bar .bar {
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0;
	-fx-padding: 0;
}

#seek-bar .track {
	-fx-background-color: null;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0;
	-fx-padding: 0;
}

/* TABS */

.vtab {
	-fx-padding: 5;
	-fx-spacing: 6;
}

.fetch-tab {
	-fx-spacing: 0;
}

SearchView {
	-fx-padding: 0 0 6 0;
}

#player {
	-fx-spacing: 0;
}

/* TODO makes the navigation bar transparent.
    Not quite sure what to make of this, since I still need to indicate selected state somehow.
.tab {
	-fx-background-color: transparent !important;
}*/
